@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    overflow-x:hidden
}

.companiesList {
    animation: 10s infinite linear moveComapany;
}

@keyframes moveComapany {
    0%{
        top:0;
    }
    100%{
        top: -50%;
    }
}